header{
    padding-top: 8px;
    padding-bottom: 30px;
    padding-left: 10px;
    background-color:cyan;
}

nav{
    display: flex;
    height: auto;
    background-color: greenyellow;
}

nav a{
    width: 100%;
    text-align: center;
    border-color: black;
}

@media screen and (max-width: 500px)
{
    nav{
        display: flex;
        flex-wrap: wrap;
    }
}


h2{
    border-bottom-style: solid;
}

div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

img{
    display: flex;
    padding: 5px;
    width: auto;
    height: 200px;
}

.img1{
    height: 350px;
    width:auto;
}

@media screen and (max-width: 650px)
{
    img{
        display: flex;
        padding-bottom: 5px;
        padding-top: 5px;
        width: 100%;
        height: auto;
    }

    .img1{
        width: 100%;
        height: auto;
    }
}